* {
    font-family: "Roboto", "sans-sefif";
    box-sizing: border-box;
}

body {
    background-color: #f6f8fc;
}

.content {
    height: 100vh;
    width: 100vw;
    padding: 1rem;
    background-color: rgba(171, 248, 222, 0.727);       
    
}

.content h1 {
    font-family: 'Tangerine', serif;
    font-size: 40px;
    text-shadow: 4px 4px 4px rgb(114, 112, 112);
    text-align: center;
}
.wallpaper {
    width: 100vw; 
    height: 35vh;
    background-color: rgba(188, 244, 225, 0.445);       
}

.wallpaper img {
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}

